@backgroundColor:#fbfaf8;
@backgroundColor1:#f2f2f2;
@backgroundColor2:#666;
@backgroundColor3:#d82626;




@fontColor1:#666;


@broderC1:#cab389;


@fontSize14:14px;



@fontw3:300;
@fontw4:400;
@fontw5:500;