// backgroundcolor
@backgroundColor:#fbfaf8;
@backgroundColor1:#f2f2f2;
@backgroundColor2:#666;
@backgroundColor3:#d82626;
@backgroundColor4:#fff;
@backgroundColor5:#f4f1ec;
@backgroundColor6:#a70a0a;
// font
@fontColor:#333;
@fontColor1:#666;
@fontColor2:#999;
@fontColor3:#d82626;
@fontColor4:#cab389;
@fontColor5:#fff;
@fontColor6:#f0bdbd;
// broder
@broderC1:#cab389;
@broderC2:#f2f2f2;
@borderC3:#ccc;
// fontsize
@fontSize13:13px;
@fontSize14:14px;
// fontwigth
@fontw3:300;
@fontw4:400;
@fontw5:500;