// backgroundcolor
@backgroundColor:#fbfaf8;
@backgroundColor1:#f2f2f2;
@backgroundColor2:#666;
@backgroundColor3:#d82626;
@backgroundColor4:#fff;
// font
@fontColor1:#666;
@fontColor2:#999;
@fontColor3:#d82626;
// broder
@broderC1:#cab389;
@broderC2:#f2f2f2;
// fontsize
@fontSize13:13px;
@fontSize14:14px;
// fontwigth
@fontw3:300;
@fontw4:400;
@fontw5:500;